@model List<EmailMessage>
@{
	ViewData["Title"] = "Trash";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left: 0;" class="content-body">
    <div class="email-right-box">
        <h4>ReadIt. Çöp Kutusu</h4>
        <hr>
            @foreach (var item in Model)
            {
                <div class="email-list m-t-15">
                    <div class="message">
                        <div class="col-mail col-mail-1">
                            <div class="email-checkbox">
                                <input type="checkbox" name="Id" value="@item.Id" id="chk_@item.Id" />
                                <label class="toggle" for="chk_@item.Id"></label>
                            </div>
                        </div>
                        <div class="col-mail col-mail-2">
                            <div class="subject">
                                <a href="/Email/Read/@item.Id">@item.SenderEmailAddress | @item.EmailSubject</a>
                            </div>
                            <div class="date">
                                <a href="/Email/Read/@item.Id">@item.SentAt.ToString("dd-MMM-yyyy")</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>